@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #18181b;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}